{% import "AlazjjSimpleBootstrapBundle:Modal:default.html.twig" as modal %}
<!DOCTYPE html>

<html lang="{{ app.request.locale }}">

<head>
    <meta charset="UTF-8"/>
    {% block css %}
        {% stylesheets
            "@bootstrap_css"
        %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen"/>
        {% endstylesheets %}
    {% endblock css %}
    {% block javascript %}
        {% javascripts
            "@jquery_js"
            "@bootstrap_js"
            "@AlazjjSimpleBootstrapBundle/Resources/public/js/core/*"
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock javascript %}
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}"/>
</head>

    <body data-env="{{ app.environment | default('prod') }}">
        {% block body %}{% endblock %}

        {# Basic modal container #}
        {{ modal.confirmModal() }}
        {{ modal.alertModal() }}
        {{ modal.containerModal() }}
    </body>
</html>