{% use 'form_div_layout.html.twig' %}


{# Form row #}
{% block form_row %}
<div class="control-group {% if errors|length %}error{% endif %}">
    {{ form_label(form) }}
    {% set form_widget = form_widget(form) %}
    <div {% if is_editable %}
         data-form-input="{{ form_widget }}"
         data-form="row"
         {% endif %}
         {{ block('form_row_controls_attributes') }}>

        {%  if is_active %}
            {{ form_widget | raw }}
            {% if errors|length %}
                <span class="help-block">{{ form_errors(form) }}</span>
            {% endif %}
        {%  else %}
            <div class="displayedValue">
                {% set _block = block(value_block_name) %}
                {% if _block is not empty %}
                    {{ _block|raw }}
                {% else %}
                    {{ block('value_block_default') }}
                {% endif %}

                {% if is_editable %}
                    <i class="icon-edit pull-right"
                       data-form-edit="row">
                    </i>
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock form_row %}


{# Displayed string value #}
{% block value_block_default %}
    {% set default = 'form.default.value' | trans %}
    {{ value | default(default) }}
{% endblock value_block_default %}


{# Displayed checkbox value #}
{% block value_block_checkbox %}
    {% if checked %}
        {{ 'form.fields.checkbox.values.yes' | trans }}
    {% else %}
        {{ 'form.fields.checkbox.values.no' | trans }}
    {% endif %}
{% endblock value_block_checkbox %}


{# Displayed choice value(s) #}
{% block value_block_choice %}
    <div {{ block('widget_container_attributes') }}>
        {% for v in value %}
            <div class="control-choice-input">
                {{ v }}
            </div>
        {% endfor %}
    </div>
{% endblock value_block_choice %}


{# Displayed date value #}
{% block value_block_date %}
{% if widget == 'single_text' %}
    {{ block('value_block_default') }}
{% else %}
    {{ date_pattern|replace({
    '{{ year }}':  value.year,
    '{{ month }}': value.month,
    '{{ day }}': value.day,
    }) }}
{% endif %}
{% endblock value_block_date %}


{# Form label #}
{% block form_label %}
    {% set label_attr = label_attr | merge({'class' : 'control-label'}) %}
    {{ parent() }}
{% endblock form_label %}


{# Date widget #}
{% block date_widget %}
    {% spaceless %}
        {% if datepicker %}
            {{ block('form_widget_simple') }}
            <span class="add-on">
                <i class="icon-calendar"></i>
            </span>
        {% else %}
            {{ parent() }}
        {% endif %}
    {% endspaceless %}
{% endblock date_widget %}


{# Colorpicker widget #}
{% block colorpicker_widget %}
    {% spaceless %}
        {{ block('form_widget_simple') }}
        <span class="add-on">
            <i {% if value %}style="background-color: {{ value }}"{% endif %}></i>
        </span>
    {% endspaceless %}
{% endblock colorpicker_widget %}


{# Choice widget #}
{% block choice_widget_expanded %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
        {% for child in form %}
            <div class="control-choice-input">
                {{ form_widget(child) }}
                {{ form_label(child) }}
                </div>
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock choice_widget_expanded %}


{# Display attribute to the widget container #}
{% block form_row_controls_attributes %}
    {% spaceless %}
        {% for attrname, attrvalue in controls_attr %}
            {{ attrname }}="{{ attrvalue }}"
        {% endfor %}
    {% endspaceless %}
{% endblock form_row_controls_attributes %}