{% use 'form_div_layout.html.twig' %}


{# Form row #}
{% block form_row %}
<div class="control-group {% if errors|length %}error{% endif %}">
    {{ form_label(form) }}
    <div class="controls"
         {% if is_editable %}
         data-form-input='{{ form_widget(form) }}'
         data-form="row"
         {% endif %}>

        {%  if is_active %}
            {{ form_widget(form) }}
            {% if errors|length %}
                <span class="help-block">{{ form_errors(form) }}</span>
            {% endif %}
        {%  else %}
            <p class="displayedValue">
                {% set _block = block(value_block_name) %}
                {% if _block is not empty %}
                    {{ _block|raw }}
                {% else %}
                    {{ block('value_block_default') }}
                {% endif %}

                {% if is_editable %}
                    <i class="icon-edit pull-right"
                       data-form-edit="row">
                    </i>
                {% endif %}
            </p>
        {% endif %}
    </div>
</div>
{% endblock form_row %}


{# Displayed string value #}
{% block value_block_default %}
    {{ value }}
{% endblock value_block_default %}


{# Displayed checkbox value #}
{% block value_block_checkbox %}
    {% if checked %}
        {{ 'form.fields.checkbox.values.yes' | trans }}
    {% else %}
        {{ 'form.fields.checkbox.values.no' | trans }}
    {% endif %}
{% endblock value_block_checkbox %}


{# Displayed date value #}
{% block value_block_date %}
{% if widget == 'single_text' %}
    {{ block('value_block_default') }}
{% else %}
    {{ date_pattern|replace({
    '{{ year }}':  value.year,
    '{{ month }}': value.month,
    '{{ day }}': value.day,
    }) }}
{% endif %}
{% endblock value_block_date %}


{# Form label #}
{% block form_label %}
    {% set label_attr = label_attr | merge({'class' : 'control-label'}) %}
    {{ parent() }}
{% endblock form_label %}


{# Datepicker widget #}
{% block datepicker_widget %}
    {% spaceless %}
        {#<div class="input-append {% if errors|length > 0 %}error{% endif %}">#}
        <div class="input-append date datepicker" {{ block('widget_attributes') }} data-date="{{ value }}">
            <input class="{{ attr.class }}" type="text" value="">
            <span class="add-on">
                <i class="icon-calendar"></i>
            </span>
            {{ block('help') }}
        </div>
        {#</div>#}
    {% endspaceless %}
{% endblock %}


{# Colorpicker widget #}
{% block colorpicker_widget %}
    {% spaceless %}
        {% set color = value|default('#245e4d') %}
        <div class="input-append color colorpicker" data-color="{{ color }}" data-color-format="hex">
            <input class="{{ attr.class }}" type="text" value="" {{ block('widget_attributes') }}>
            <span class="add-on">
                <i style="background-color: {{ color }}"></i>
            </span>
        </div>
        {{ form_errors(form) }}
        {{ block('help') }}
    {% endspaceless %}
{% endblock colorpicker_widget %}